# Kong API Gateway Configuration
KONG_ADMIN_URL=http://127.0.0.1:8001

# Application Settings
CI_ENV=development
CRON_SECRET=CRON_SECRET_KEY_CHANGE_ME
JWT_KEY=

# Email Configuration
EMAIL_PROTOCOL=smtp
EMAIL_SMTP_HOST=sandbox.smtp.mailtrap.io
EMAIL_SMTP_PORT=2525
EMAIL_SMTP_USER=
EMAIL_SMTP_PASS=
EMAIL_SMTP_CRYPTO=
EMAIL_MAILTYPE=html
EMAIL_CHARSET=utf-8
EMAIL_NEWLINE="\r\n"
EMAIL_CRLF="\r\n"
